* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.container {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.card {
    background-color: white;
    width: 28rem;
    height: 45rem;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    -webkit-box-shadow: 10px 10px 40px -8px rgba(140,130,140,0.74);
    -moz-box-shadow: 10px 10px 40px -8px rgba(140,130,140,0.74);
    box-shadow: 10px 10px 40px -8px rgba(140,130,140,0.74);           
}

img {
    max-width: 25rem;    
    border-radius: 1.2rem;
    margin-top: 1.5rem;        
}

.title-content {    
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    margin-inline: center;
    max-width: 23rem;
    color: hsl(218, 44%, 22%);
}

.text-content {
    font-family: 'Outfit', sans-serif;
    margin-inline: center;
    max-width: 23rem;
    font-size: 1.5rem;
    color: hsl(220, 15%, 55%);
}